.tbl-item-name {
    font-weight: bold;
    width:40%;
}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-bottom: 1px solid #ddd;
}

.table>tbody>tr:last-child>td {
    border-bottom: 0px;
}
.table>tbody>tr:first-child>td {
    border-top: 0px;
}

.table {
    margin-bottom: 0px;
}

html {
    min-height: 100%;
    position: relative;
}
body {
    background-color: rgba(221, 221, 221, 0.20);
    padding-top: 0px;
    max-width: 960px;
    margin: 0px auto;
    min-height: 100%;
    margin-bottom: 90px;
}

.main {
    padding-left:15px;
    padding-right:15px;
    padding-top: 10px;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    line-height: 2.0;
}


.btn, .btn-info, .btn-lg, .btn-block {
    background-color: #4682B4;
    border-color: #4682B4;
}

.main-div {
    background: #fff7e9;
    padding-bottom:20px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    /*border-bottom: 1px solid #ddd;*/
}
.footer {
    text-align: center;
    max-width: 960px;
    width: 100%;
    padding-top: 10px;
    background-color: #fffaf5;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-size: smaller;
    position: absolute;
    bottom: 0px;
    height: 90px;
    overflow: hidden;
}
