<?xml version="1.0" encoding="UTF-8" ?>

<!-- 数据库配置 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
">

    <!-- 加载 jdbc.properties 配置文件 -->
    <!--<context:property-placeholder location="classpath:config/jdbc.properties"/>-->


    <!-- 注入自定义placeholder解析器，对加密存储的数据库密码配置解密 -->
    <bean id="propertyConfigure" class="me.archetype.security.PasswordDecoderConfigure">
        <property name="location">
            <value>classpath:config/jdbc.properties</value>
        </property>
    </bean>

    <!-- 配置数据源(连接池) -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="maxTotal" value="${jdbc.maxTotal}"></property>
        <property name="maxIdle" value="${jdbc.maxIdle}"></property>
        <property name="maxWaitMillis" value="${jdbc.maxWaitMillis}"></property>
        <property name="defaultAutoCommit" value="${jdbc.defaultAutoCommit}"></property>
    </bean>

    <!-- mybatis session工厂 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!-- mybatis配置文件 -->
        <property name="configLocation" value="classpath:config/sqlMapConfig.xml" />

        <!-- 自动扫描mapper.xml配置文件，也可以在sqlMapConfig.xml中逐一配置mapper-resource -->
        <property name="mapperLocations" value="classpath*:mapper/*.xml"/>
    </bean>

    <!--&lt;!&ndash; 配置SqlSessionTemplate &ndash;&gt;-->
    <!--&lt;!&ndash; 通过SqlSessionTemplate的方式与ibatis旧的方式一样，建议改用mapper方式，减少侵入性 &ndash;&gt;-->
    <!--<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">-->
        <!--<constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory" />-->
    <!--</bean>-->

    <!-- mapper扫描器，无需在通过字符串指定映射值 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="me.archetype.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

</beans>