<?xml version="1.0" encoding="UTF-8" ?>

<!-- Spring mvc DispatcherServlet相关配置 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/security
                            http://www.springframework.org/schema/security/spring-security.xsd">


    <!-- 配置跳过security校验的url -->
    <!--<security:http pattern="/login" security="none"/>-->
    <!--<security:http pattern="/css/**" security="none"/>-->
    <!--<security:http pattern="/img/**" security="none"/>-->
    <!--<security:http pattern="/js/**" security="none"/>-->
    <!--<security:http pattern="/bootstrap/**" security="none"/>-->

    <!-- password encoder -->
    <!--<bean name="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>-->

    <bean id="userDetailService" class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
        <property name="dataSource" ref="dataSource"/>
        <property name="usersByUsernameQuery" value="SELECT username, password, enabled FROM tbl_user WHERE username=?"/>
        <property name="authoritiesByUsernameQuery" value="SELECT username, role FROM tbl_role WHERE username=?"/>
    </bean>

    <!-- 测试数据 -->
    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userDetailService" />
    </security:authentication-manager>


    <security:http use-expressions="true">
        <security:intercept-url pattern="/login" access="permitAll"/>
        <security:intercept-url pattern="/**" access="hasRole('USER')"/>

        <!-- form表单login配置 -->
        <security:form-login login-processing-url="/login"
                             authentication-failure-url="/login?login_error=?"
                             always-use-default-target="true"
                             default-target-url="/"/>

        <!-- logout配置 -->
        <security:logout logout-url="/logout" delete-cookies="JSEESIONID"/>

        <!-- 默认开启csrf -->
        <security:csrf disabled="false"/>

        <!-- 记住我功能 -->
        <security:remember-me token-validity-seconds="5" remember-me-cookie="testRememberMe"/>

        <!-- session management -->
        <security:session-management session-authentication-error-url="/???">
            <security:concurrency-control max-sessions="1" error-if-maximum-exceeded="true"/>
        </security:session-management>
    </security:http>

</beans>