<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<!-- include header.vm-->
<head th:replace="common/header :: header"/>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 main">
            <table class="table">
                <tbody th:each="user:${users}">
                    <tr>
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.password}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:include="common/footer :: footer" class="container-fluid footer"/>
</body>
</html>
