<div xmlns:th="http://www.thymeleaf.org" th:fragment="footer" class="container-fluid" style="position: absolute; bottom: 10px;">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/resources/js/jquery.min.js}" type="application/javascript"></script>
    <script>window.jQuery || document.write('<script th:src="@{/resources/bootstrap/assets/js/vendor/jquery.min.js}"><\/script>')</script>
    <script th:src="@{/resources/bootstrap/assets/js/vendor/jquery.min.js}" type="application/javascript"></script>
    <script th:src="@{/resources/bootstrap/js/bootstrap.min.js}" type="application/javascript"></script>
</div>

