<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.archetype.dao.UserDao">

    <!-- 二级缓存配置 -->
    <cache
        flushInterval="60000"
        size="2014"
        eviction="LRU"
        readOnly="false"
    />

    <resultMap id="userResultMap" type="User" >
        <id column="id" property="id" />
        <result column="username" property="username"/>
        <result column="password" property="password"/>
    </resultMap>


    <!--
        userCache：该操作是否采用二级缓存，默认true
        flushCache 指定该操作是否清空二级缓存，默认insert\update\delete为true, select为false
    -->
    <select id="selectAll" resultMap="userResultMap" useCache="true" flushCache="false">
        SELECT
          *
        FROM tbl_user
    </select>
</mapper>